.hero-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);

    .featuredImage {
        background-size: cover;
        display: flex;
        position: relative;
    }

    .full-box {
        grid-column: 1/7;
        grid-row: 1/2;
        height: 506px;

        &:before {
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0;
            width: 100%;
            content: " ";
            display: block;
        }
    }

    .md-box {
        grid-row: 2/4;
        grid-column: 1/4;
        height: 845px;

        &:before {
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0;
            width: 100%;
            content: " ";
            display: block;
        }
    }

    .sm-box {
        grid-column: 4/7;
        &:before {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            margin: 0;
            width: 100%;
            content: " ";
            display: block;
        }
    }
}
