.hero-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .full-box {
        grid-column: 1/7;
        height: 506px;
        background-size: cover;
        display: flex;
    }
}
