.hero-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .full-box {
        grid-column: 1/7;
        height: 506px;
        background-size: cover;
        display: flex;

        .box-details {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 20px;
            max-width: 55%;
            padding: 40px;

            h2 {
                color: white;
                font-size: 40px;
                font-weight: 700;
            }

            .firma {
                display: flex;
                color: white;
                gap: 8px;

                .firma-image > img {
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                }

                .firma-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .editor {
                        font-size: 14px;
                        line-height: 24px;
                    }
                    .date {
                        font-size: 10px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
